@use './variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

button {
    border: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 3.4rem;
    font-weight: 900;
    line-height: 3.9rem;
}

h2 {
    font-size: 2.6rem;
    line-height: 2.9rem;
    font-weight: 900;
}

h3 {
    margin-block: 20px;
}

p {
    font-size: .9rem;
    margin-block: 20px;
}

.btn {
    padding: 10px;
    border-radius: 3px;
    font-size: .8rem;
    margin-top: 20px;
    margin-right: 10px;
}

.btn.primary {
    color: #fff;
    background-color: $primary-color;
}

.btn.reverse {
    color: $primary-color;
    background-color: #ebeae5;
    border: 1px solid $primary-color;
}

.summary {
    font-size: .7rem;
    font-weight: 700;
    color: #0da6a6;
}